@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1566957869187'); /* IE9 */
  src: url('iconfont.eot?t=1566957869187#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALQAAsAAAAABowAAAKEAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBGIEZATYCJAMICwYABCAFhG0HLxu+BcgusG3YE8tECMcGIK7v94sj/Bji4fn7Uee+/6YiaYaboxawAnA1SrNAdrV5fUEqQf5f+7WHiMSdfh5RTypf3v7v+2dv74ZriEmmQglUkwbTLZJJAJnVHlHr9dUOX4yXDLic/gookHlAue1JY00eEzAL0wD3wjZZkUTeMHbBCzxPoNYgn6TNtp5+yJTZ0wJx2tAkyCz4ZJklq4XKhrVZ3IA01eli8i2uR9+PH4pMkoqCXbZztFWFhs84acWF/1njAQF+ENDmChSYBzJx0BjbkiIYO0VtLNUoOFZx8JmyDKziqCbB/jq7sB70Q/EzSTzpoxYmkJP+RWB50oNI3eVDJy87BtKOL55ffnqzPX32tP2wfL188Pj+qZOnHQNHd168sl6ZenT65NKzW10Zcxe3f3+Rt/Mx52lP5fhlXU/+3wfZK3v4/1Xfvn4p7nln1vk7GgDKi3jKACQh6LzEbiyo+auuy+BTyR95yjMMc4DqE9iDHyUZ2JINmW1JWZM0OpLFSVMTatWihF2tPqfqO+4qFap13JujykCGQrVxMrPmUaHOEipVW0GtOe2b67ThUkSuwawlgNDsGkmj1yg0uyMz6wMVOv2iUnOkoNaRKNmzzmQY2c0cJYEqkRPEUJhLXZvIjot7UYvZEs/LIs4g8qgRJOFAqJxsRxf5EguicS0iBCWUM4e0gcvQthnxODNREQFdCK8qGKRNbwoozIFsGzgkEZCKkCUQBgXjokF3Ibvy+V5IE2OT8I6KuvAgxEUZgxNhAaEBZLvaHVTxKNdExWkiBIEiKI5xEG1gFLLZGMJrHmVCCiFAnxDxVAk6nehQdWB7rfMDRawG25DCGVKoOC8ZMzEA') format('woff2'),
  url('iconfont.woff?t=1566957869187') format('woff'),
  url('iconfont.ttf?t=1566957869187') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1566957869187#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paixu:before {
  content: "\e60e";
}

